.secret {
  width: 800px;
  margin-bottom: 5px;
  overflow-y: hidden;
}

.secret div {
  width: 360px;
  float: left;
}

.secret .key {
  margin-right: 40px;
}

.secret div input {
  width: 100%;
  padding: 10px 15px;
  font-family: Monaco, monospace;
  border-radius: 5px;
  border: 1px solid #DDD;
  background: #FAFBFE;
}

.secret .key input {
  font-weight: bold;
}

.secret .value input {
  color: #CCC;
}

.secret .value input:focus {
  color: #000;
}
